/* color variables for themes */
:root {
  --Primary:#2994B8;
  --Secondary:#ABDFE4;

  --christmas-Primary: #A02929;
  --christmas-Secondary: #3DA87D;

  --valentine-Primary:#847DC0;
  --valentine-Secondary:#CA92CA;

  --halloween-Primary:black;
  --halloween-Secondary:#D58823;



}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--Secondary);
}
/* Nav */
.topnav {
  line-height: 3;
  display: flex;
  justify-content: space-between;
  background-color: #333;
  overflow: hidden;
  list-style-type: none;
  padding-right: 10px;

}
html, body, #app, #app>div {
  height: 100%
}
.topnav li {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-options{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.topnav li:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #FF8C69;
  color: white;
  padding-right: 20px;
  padding-left: 10px;
}
/* Section */
section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(138, 225, 138);
}

.main-content{
background-color: #FF8C69;
width: 150px;
height: 150px;

}

.main-aside{
  background-color: aqua;
  height: 100vh;
  width: 100px;
}
/* Footer */ 
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: var(--Primary);
  font-weight: bolder;
  font-size: 1.25rem;
  color: white;
  text-align: center;
}


/* Search grid */
.card-grid{
  display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
	grid-gap: 0.5em;
  margin-bottom: 4%;
}

.card-max-height{
  height: max-content;
}

/* Hero Carousel Things*/
.carousel{
  width: 100%;
  height: 50vh;
  position: relative;
  margin-top: 3%;
}

.carousel > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel > ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.carousel-button {
  position: absolute;
  /* opacity: 0; */
  background: none;
  z-index: 2;
  border: none;
  font-size: 4rem;
  top: 50%;
  width: 50%;
  height: 100%;
  transform: translateY(-50%);
  color: rgb(255, 255, 255, .5);
  border-radius: .25rem;
  padding: 0 .5rem;
  /* background-color: rgba(0, 0, 0, .1); */
}

/* .carousel-button:hover{
  color: white;
  background-color: rgba(0, 0, 0, .05);
} */

/* .carousel-button:focus{
  outline: 1px solid black;
} */
.carousel-button.prev{
  left: 1rem;;
}
.carousel-button.next{
  right: 1rem;;
}


/* Mobile Responsive */
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}